body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defaultHeight {
  height: 600px;
}

.scrollVertical {

  height: 600px;
  overflow-y: scroll;
}

.scrollVertical2 {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.message {
  width: 75%;
  align-self: flex-start;
  background-color: aliceblue;
  border: 1 px solid black;
  border-radius: 3px;
  margin: -10px 10px 15px 10px;
  padding: 25px 20px 25px 20px;
}

.message-user {
  display: inline;
  align-self: flex-start;
  background-color: sienna;
  color: white;
  border: 1 px solid black;
  border-radius: 3px;
  margin: 0px 0px -7px -7px;
  padding: 5px;
  z-index: 10;
}


.message-current-user {
  align-self: flex-end;
  background-color: mediumpurple;
  margin: 0px -7px -7px 0px;
}

.message-current {
  align-self: flex-end;
}

.character-card {
  width: 200px;
  margin: 5px;
}

.character-card-text {
  font-size: 13px;
  padding: 0px 5px 0px 5px;
}
