body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defaultHeight {
  height: 600px;
}

.scrollVertical {

  height: 600px;
  overflow-y: scroll;
}

.scrollVertical2 {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.message {
  background-color: aliceblue;
  border: 1 px solid black;
  border-radius: 3px;
  margin: -10px 10px 15px 10px;
  padding: 15px 15px 10px 15px;
}

.message-user {
  display: inline;
  background-color: sienna;
  color: white;
  border: 1 px solid black;
  border-radius: 3px;
  margin: 15px 10px 0px 0px;
  padding: 6px;
}